@media screen and (min-width:1200px) {
.container{width:1170px}
.nav ul li:not(:first-child){margin-left:38px}
.nav ul li:not(:first-child)::before{left:-25px}
.order form h1{font-size:35px}
.order form input[type="submit"]{width:30%}
.top-call a,.top-call span{font-size:25px}
.left h2{font-size:30px;}
.order form input{width:20%}
}
@media (max-width:982px) and (min-width:768px) {
.container{width:724px}
.top-call a,.top-call span{font-size:18px}
.top-call {width: 33%;}
.right h2 {font-size: 25px}

.top-address{display:none}
.order form h1{font-size:22px}
.order form{font-size:15px;padding:15px 20px}
.order form input[type="submit"]{width:17%;font-size:19px;padding:9px;top:1px}
.nav ul{font-size:12px}
.order span{font-size:16px}
.order{bottom:6%}
.about .row{display:flex;flex-direction:column}
.about .left{order:2;width:100%}
.about .right{order:1;flex-direction:row;width:100%}
.quality .left{display:block;padding-bottom:40px}
.quality .left > *{display:inline-block}
.footer-logo{display:none}
.round-1,.round-2{flex:1}
nav.tab-nav div{font-size:11px}
.items .item{width:32%}
}
@media (max-width:767px) {
.container{width:auto;overflow-y: hidden;}
.top-logo,.top-call{width:50%}
.top-logo img{width:70%;position:relative;height:auto}
.footer-logo{display:none}
.slide img{width:1900px}
.top-address{display:none}
.nav ul{margin:0;max-height:0;transition:all .5s}
.nav ul.active{max-height:700px}
.nav ul li{display:block;width:calc(100% + 40px);margin-left:-20px!important}
.nav ul li:not(:last-child){border-bottom:1px dotted #fff}
.nav ul li::before,.nav ul li::after{display:none}
.nav-icon{display:block;cursor:pointer;opacity:1;height:50px;width:50px;position:relative;left:calc(100% - 60px);padding:10px 0 15px}
.nav-icon span{display:block;width:100%;height:6px;background:#fff;margin:10px 0;border-radius:5px;transition:all .5s ease-out}
.order{bottom:0}
.order form,.order form *{transform:skew(0);text-align:center}
.order form input{display:block;width:calc(100% - 30px);margin-bottom:5px;padding:15px}
.order form input[type="submit"]{width:100%;margin-top:60px;padding:11px;font-size:30px;color:#000}
.order span{color:#000;bottom:18%;font-size:17px;width:60%;left:20%}
.order span a{color:#000}
.order form p{margin-top:0}
.order form h1{text-transform:uppercase;font-weight:400;font-size:28px;margin-top:0;margin-bottom:5px}
.about .row{display:flex;flex-direction:column}
.about .left{order:2;width:100%;padding:0 20px}
.about .right{order:1;flex-direction:column;width:100%}
.about .left div img{display:none}
.about .left article{width:90%}
.round-1,.round-2{flex-direction:row}
.right h2{position:absolute}
.round-slider{margin:auto;width:250px;height:250px}
.left article{width:90%}
.left-item {width: calc(100% - 20px)}
button.but-left{transform:rotate(-90deg) translateY(40px);padding:0}
button.but-right{transform:rotate(90deg) translateY(40px);padding:0}
.right{padding:0}
.round-1,.round-2{padding:50px 0;position:relative}
.right h2{position:absolute;top:-5%;width:100%}
.round-slider img{width:100%}
.left article a{position:relative;top:20px}
.quality .left{text-align:center}
.left>img{width:60%}
.markers div{flex-direction:column;font-size:40px;margin:auto}
.markers div img{width:60%;margin:auto}
nav.tab-nav{display:none}
.partners p{padding-bottom:25px;margin-bottom:0}
.tabs section{position:relative;opacity:1;transform:translateX(0%)}
.tabs section .item{width:49%}
.tabs section h2{display:block;background-color:#fdc029;width:100%;margin-left:-20px;font-size:20px;text-transform:uppercase;font-weight:700;padding:20px;border-top:2px solid #000;position:relative;cursor:pointer}
.tabs section h2::after{content:url(../img/tabs-caret.png);position:absolute;transition:all .5s;right:10px;top:calc(50% - 15px);height:20px}
.tabs section.active h2::after{transform:rotate(180deg)}
.items{max-height:0;overflow:hidden;transition:all .5s}
.tabs section.active .items{max-height:800px}
.tabs section.active h2{border-bottom:2px solid #000}
footer{margin-top:0}
footer .container{flex-direction:column}
.address{order:4;padding-top:20px}
footer .container div{font-size:21px;width:100%;text-align:center}
.phone span,.phone a{text-align:center;font-size:25px}
.phone{padding-top:20px}
.works a{padding:5px}
.partners h2{color:#000;font-size:40px}
.quality h2{font-size:40px}
.tabs h2{font-size:25px;font-weight:700}
footer .container{display:block}
.it-1 {padding-top: 10%;}
.markers div span {width: 90%;}
}
@media (max-width:500px) {
.top-call a,.top-call span{font-size:11px}
.top-call{top:-15px}
.order form h1{font-size:24px}
.right h2{top:-11%}
.order span{font-size:15px}
.order form input{width:calc(100% - 15px);padding:9px}
.order form input[type="submit"]{font-size:25px}
.quality h2,.partners h2{font-size:30px}
.markers div {font-size: 25px}
.tabs section h2{font-size:20px}
.tabs h2{font-size:25px}
.slide img{width:2000px}
.order span{width:80%;left:10%}
.round-slider{margin:auto;width:200px;height:200px}
button.but-left{transform:rotate(-90deg) translateY(20px)}
button.but-right{transform:rotate(90deg) translateY(20px)}
}
@media (max-width:350px){
	.order span {font-size: 15px}
	.tabs section h2 {font-size: 15px;}
	.left>img{width:90%}
}